@model IEnumerable<MvcBlog.Models.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Kategoriler</h2>

<p>
    @Html.ActionLink("Yeni Kategori Ekle", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAdi)
        </td>
       
        <td> @Html.ActionLink("Güncelle", "Edit", new { id = item.KategoriId }, new { @class = "btn btn-primary" })</td>
        <td>@Html.ActionLink("Detay", "Details", new { id = item.KategoriId }, new { @class = "btn btn-info" })</td>
        <td>@Html.ActionLink("Sil", "Delete", new { id = item.KategoriId }, new { @class = "btn btn-danger" })</td>
     
    </tr>
}

</table>
